<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto py-5">

      <form action="/restaurants/{{restaurant._id}}/edit" method="POST">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">餐廳名稱</span>
          </div>
          <input type="text" class="form-control" placeholder="餐廳名稱" name="name" value="{{ restaurant.name }}" required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">餐廳名稱 EN</span>
          </div>
          <input type="text" class="form-control" placeholder="餐廳名稱 EN" name="name_en" value="{{ restaurant.name_en }}"
            required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">類別</span>
          </div>
          <input list="categories" class="form-control" placeholder="請選擇或新增餐廳類別" name="category"
            value="{{ restaurant.category }}" required>
          <datalist id="categories">
            <option>中東料理</option>
            <option>日本料理</option>
            <option>義式餐廳</option>
            <option>美式</option>
            <option>酒吧</option>
            <option>咖啡</option>
          </datalist>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">圖片</span>
          </div>
          <input type="url" class="form-control" placeholder="圖片網址 (網址結尾應為 .jpg, .png, .gif)"
            id="inputGroup-sizing-default" name="image" pattern="https?://.+.(jpg|png|gif)"
            value="{{ restaurant.image }}" required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">地址</span>
          </div>
          <input type="text" class="form-control" placeholder="餐廳地址" name="location" value="{{ restaurant.location }}"
            required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">電話</span>
          </div>
          <input type="tel" class="form-control" placeholder="電話號碼" name="phone" value="{{ restaurant.phone }}"
            required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Google Map</span>
          </div>
          <input type="url" class="form-control" placeholder="Google Map 連結" name="google_map" pattern="https?://.+"
            value="{{ restaurant.google_map }}" required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">評分</span>
          </div>
          <input type="num" class="form-control" placeholder="網路評分 (請輸入 0.0 - 5.0)" name="rating"
            pattern="[0-9]{1}.[0-9]{1}" value="{{ restaurant.rating }}" equired>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">說明</span>
          </div>
          <textarea class="form-control" placeholder="詳細說明" name="description"
            required>{{ restaurant.description }}</textarea>
        </div>

        <div class="row mt-2 px-3 mb-5 justify-content-center">
          <a href="/" class="btn btn-primary btn-sm mr-2" role="button" aria-pressed="true">Back</a>
          <button type="submit" class="btn btn-success btn-sm mr-2">Save</button>
        </div>

      </form>

    </div>
  </div>
</div>