<!-- ./views/index.handlebars -->
<div class="container mt-5">

  <div class="col-md-10 col-12 mx-auto">
    <div class="row">
      <!-- search bar -->
      <div class="container search-bar col-md-5 col-12 mt-2 ml-0 justify-content-start">
        <form action="/restaurants/search">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" value="{{keyword}}"
              aria-label="Restaurant Name..." aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>

      <!-- sort -->
      <div class="btn-group col-md-4 col-12 mt-2 mr-0">
        <button type="button" class="btn btn-major dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{#if currentSelected}} {{currentSelected}} {{else}} Sort {{/if}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/sort/name/asc">餐廳名稱 A -> Z</a>
          <a class="dropdown-item" href="/sort/name/desc">餐廳名稱 Z -> A</a>
          <a class="dropdown-item" href="/sort/rating/asc">評分 0.0 -> 5.0</a>
          <a class="dropdown-item" href="/sort/rating/desc">評分 5.0 -> 0.0</a>
        </div>
      </div>
    </div>
  </div>

  <!-- restaurant list -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="card-columns">
          {{#each restaurants}}
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="card mb-3">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>

                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>

                <div class="row mt-2 px-3">
                  <button type="submit" class="btn btn-info btn-sm mr-2">Dtail</button>
                  <form action="/restaurants/{{this._id}}/edit" method="GET">
                    <button type="submit" class="btn btn-outline-dark btn-sm mr-2">Edit</button>
                  </form>
                  <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-danger btn-sm mr-2">Delete</button>
                  </form>
                </div>

              </div>
            </div>
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>